<h1>Admin#dashboard</h1>
<% content_for :page_title do %>
  Dashboard Administrativo
<% end %>

<div class="dashboard-content">
  <h1>Dashboard do Administrador</h1>
  <!-- Conteúdo do dashboard -->
</div>