<h1>Gerenciamento</h1>
<div class="management-buttons">
  <button class="management-button">Importar Dados</button>
  <%= link_to "Editar Templates", templates_path, class: "management-button" %>
  <button class="management-button">Enviar Formularios</button>
  <button class="management-button">Resultados</button>
</div>